body {
	margin: 0;
}
.todo-list {
	width: 400px;
	border: 1px solid #65B2D4;
	overflow: hidden;
	margin: 50px auto 0;
}
.todo-list h2 {
	margin: 0;
	background-color: #65B2D4;
	color: #fff;
}
.to-do
{
	width:335px;
	margin: 15px auto 0;
	list-style-type: none;
	padding: 0;
}
li
{
	float: left;
	width:350px;
	margin: 10px 0;
	padding:0;
}
input
{
	float: left;
	width: 300px;
	padding: 0 0 0 5px;
	height: 40px;
	border: 0px solid #000;
	background-color: #ddd;
}
button {
	float: left;
	width: 30px;
	height: 40px;
	color: #fff;
	background-color: #acf;
	text-align: center;
	font-weight: bold;
	border: 0;
}